.svg-aside {
    width: 390px;
    height: 300px;
  }
  
  .pitch-svg {
    fill: green;
    stroke-width: 1;
    stroke: lightgray;
  }
  
  #pitch .shot-circle {
    fill: white;
    stroke-width: 2;
    stroke: gray;
  }
  
  #pitch .shot-shadow {
    fill: lightgray;
    stroke-width: 2;
    stroke: #d3d3d3;
  }
  
  #pitch .dribble-line {
    fill: white;
    stroke-width: 2;
    stroke: #6af451;
  }
  #pitch .dribble-arrow {
    fill: #6af451;
  }
  
  text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
  }
  svg .xG-text{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 120;
    color: white !important; 
  }
  pre{
    font-family:sans-serif;
    font-style: normal;
  }
  .grid-container{
    display:grid;
    grid-template-columns : 1fr 1fr;
  }
  .white-text {
    color: white;
  }